<PageTitle>@Data?.Title → Emi</PageTitle>

<h4 class="post-content-date">
    @Data?.Date
</h4>
<h1 class="post-content-title">
    @Data?.Title
</h1>

<div id="markdown">
    @((MarkupString) MarkdownContent)
</div>

<div class="after-post">
    <p>Share on <a target="_blank" href="@GetTwitterUrl">Twitter</a> · Edit this on <a target="_blank" href="@GetEditUrl">Github</a></p>
</div>